nav ul{
    text-align: center;
    margin:0;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 99;
    padding: 20px 0;
}


nav li{
    display: inline;
    padding: 0 15px;
}

nav a{
    display: inline-block;
    color:#333333;
    font-size: 14px;
    padding: 2px 0px;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 3px solid #fff;
}

nav a:hover {
  border-bottom: 3px solid #0d69ce;
}

#about{
  display: flex;
}

#portrait{
  width: 50%;
  position: relative;
}

#portrait_image{
  background-size: cover;
  background-image: url("../img/jamie_bigler.jpg");
  background-position: top center;
  position: absolute;
  height: 100%;
  width: 100%;
}

#webseite_color {
  color: #0d69ce;
}

#beschreibung{
  width: 50%;
  background:#0d69ce;
}

#name{
  min-height: 200px;
  margin: 5%;
}

#adresse{
  color: #333333;
  background:#eeeeee;
  min-height:200px;
  padding: 5%;
}

.bio{
  color:white;
}

body{
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  line-height: 21px;
  color: #5f4e4e;
}

a{
  color: white;
  text-decoration: none;
}

h1 {
  text-align: center;
}

#beschreibung h1{
  color: white;
  line-height: 100%;
  text-transform: none;
}

#beschreibung span{
  color:white;
  font-size:20px ;
  text-transform: none;
}

#webseite{
  color:blue;
}



main{
  width: 100%;
}

#wrapper{
  max-width: 1170px;
  margin:0 auto;
  height: 100%;
  padding: 5%
}

#wrapper h1{
  text-align: center;
  line-height: 4em;
  padding-top:1em;
}

.skills-icons{
  display: flex;
  flex-flow: row wrap;
}

#erstes-icon, #zweites-icon, #drittes-icon{
  height:300px;
  width: 33.3333%;
  text-align: center;
}

#erstes-icon{
  background: url("../img/icon-ps.svg")50% 50% no-repeat;
}

#zweites-icon{
  background: url("../img/icon-code.svg")50% 50% no-repeat;
}

#drittes-icon{
  background: url("../img/icon-ai.svg")50% 50% no-repeat;
}



#cv, #jobs, #ausbildung{
  margin: 0 auto;
}

.cv-eintrag{
  width: 100%;
  float: left;
}

.cv-eintrag img{
  vertical-align: middle;
  margin-right: 15px;
}

.links p{
  display: inline-block;
  padding: 15px;
  border: 1px solid #;
}

.links{
  float: left;
}

.rechts{
  width:65% ;
  vertical-align: top;
  float: right;
}

.cv-titel{
  font-size: 1.2em;
  line-height: 3em;
  font-weight: bold;
}

.cv-beschreibung{
  border: 1px solid white;
  padding: 0 15px 15px 15px;
}

#portfolio{
  float: left;
}

.portfolio-kachel{
  display: flex;
  flex-flow: row wrap;
}

.portfolio-eintrag{
  position: relative;
  width: 33.3333%;
}

.portfolio-eintrag img{
  width: 100%;
  display: block;
}

.portfolio-eintrag .arbeit-titel{
  background: rgba(13, 105, 206, 0.85);
  height: 100%;
  color:white;
  padding: 45% 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;
  left: 0;
  top: 0;
  box-sizing: border-box;
  visibility: hidden;
}

.portfolio-eintrag:hover .arbeit-titel{
  visibility: visible;
}


img.img-links{
  width: 48%;
  float: left;
  margin: 0 4% 4% 0;
}

img.img-rechts{
  width: 48%;
  margin: 0 0 4% 0;
}

.back{
  width: 100%;
  text-align: center;
  height: 4em;
}


nav a:hover{
  color:#0d69ce;
  cursor: pointer;
  text-decoration: none;
}


#formular{
  clear:both;
}

.kontaktformular{
  width: 70%;
  margin: 0 auto;
}

.form-control, textarea{
  padding: 2%;
  width: 92%;
  margin: 2%;
}


.absenden{
  padding: 2%;
  width: 96%;
  margin: 2%;
  background:#0d69ce;
  border: none;
  color: white;
  font-weight: bold;
}

.absenden:hover{
  background:#0d69ce;
}


footer{
  background:#0d69ce;
  color: white;
  padding: 2% 0;
  margin: 2% 0 0 0;
  text-align: center;
}
#skills{
  padding-top: 2em;
}


.wapper{
  padding:2%;
}


@media only screen and (max-width: 960px){
  #about{
    display:flex;
    flex-flow: row wrap;
  }

  #beschreibung{
    width: 100%;
  }

  #portrait{
    width: 100%;
    padding-bottom: 56.25%;
  }

  #erstes-icon, #zweites-icon, #drittes-icon{
    width: 100%;
  }

  section#cv{
    padding: 0 5%;
  }

  .links{
    width: 100%;
    text-align: center;
  }

  .rechts{
    width: 100%;
  }
}

@media only screen and (max-width: 480px){
  nav li{
    display: block;
  }

  ul{
    padding:0;
  }

  nav ul{
      position: relative;
  }

  nav{
    position: relative;
    width: 100%;
  }

  main{
    padding: 0;
  }

  portfolio-eintrag{
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
}
